.navbar--body{
    height: 12vh;
    background-image: url('/assets/images/background.png');
    background-position: bottom;
    background-size: cover; 
}

.navbar--body h1{
    font-size: 1.2em;
    padding-left: 1em;
}

.navbar--body p{
    margin: 0;
}

.navbar{
    color: white;
}

.navbar--body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar--user{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.navbar--user > button{
    border: 2px solid white;
    background: none;
    color: white;
    padding: 0.5em 0.8em;
    border-radius: 3px;
}

.navbar--user > button:hover{
    border: 2px solid white;
    background: white;
    color: #194A77;
    padding: 0.5em 0.8em;
}

.navbar--balance{
    color: goldenrod;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;
}

.navbar--balance:hover{
    text-decoration: underline;
}

.navbar--logo{
    width: 2em;
    height: 2em;
}

.navbar--app-title{
    display: flex;
    align-items: center;
}