table {
    width: 100%;
    background-color:#194A77;
}

::ng-deep .mat-header-cell{
    color:#78a6d1;
    background-color: #172F59;
    font-size: 1.2em;
}

::ng-deep .mat-cell{
    color: white;
}

.table-container{
    width: 70%;
    margin: auto;
}

.table-searchbar{
    width: 20%!important;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.row-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.row-currency-icon{
    height: 2em;
    width: 2em;
}

.row-currencyName{
    margin-right: 0.8em!important;
}

.row-name-container p{
    margin: 0;
}

.row-acronym{
    color: #51799e;
    font-weight: bold;
}

.currency-icon{
    height: 1.5em;
    width: 1.5em;   
    background-size: contain;
    background-repeat: no-repeat;
}

.row-button{
    border: none;
    background: none;
    color: white;
    padding: 0.3em 1.5em;
    margin-right: 1em;
    font-size: 1.2em;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25) inset;
    border-radius: 3px;
}

.row-button:enabled:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.row-button:disabled{
    background-color: gray;
}

.row-buy-button{
    background-color: goldenrod;
}

.row-sell-button{
    background-color: rgb(67, 147, 179);
}


.modal--buy-form{
    display: flex;
    flex-direction: column;
}

